Repository firezone/wireguardex: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile, rust-format, rust-lint

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

rust-format:
  name: 'rust: cargo fmt'
  entry: bash -c "cd native/wireguard_nif && cargo fmt --all --"
  language: system
  pass_filenames: false

rust-lint:
  name: 'rust: cargo clippy'
  entry: bash -c "cd native/wireguard_nif && cargo clippy --all-targets --all-features -- -D warnings"
  language: system
  pass_filenames: false

Update README.md
  README.md
Due: none

change delete_peer example to remove_peer
  README.md
Due: none

combine build & test workflows into ci workflow
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

add release drafter
  .github/release-drafter.yml
  .github/workflows/ci.yml
Due: none

only publish on merges to main
  .github/workflows/ci.yml
Due: none

add release drafter config
  .github/release-drafter.yml
Due: none

move release drafter to main
  .github/release-drafter.yml
Due: none

Release 0.3.0
  README.md
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

add v in front of release tag
  .github/release-drafter.yml
Due: none

Update README to include firezone usage
  README.md
Due: none

minor readme edit
  README.md
Due: none

Touch up the typespecs and docs a bit
  lib/wireguardex.ex
  mix.exs
Due: mix-format, mix-lint, mix-compile

use proper return type in typespec for get_public_key
  lib/wireguardex.ex
Due: mix-format, mix-lint, mix-compile

Release 0.3.1
  README.md
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

release artifacts on tags as well
  .github/workflows/ci.yml
Due: none

Add config to pass RUSTLER_NIF_VERSION to Cross
  native/wireguard_nif/Cross.toml
Due: none

Release v0.3.2
  README.md
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

Add musl targets
  .github/workflows/ci.yml
Due: none

temporary disable clippy extra_unused_lifetimes false positive
  native/wireguard_nif/src/device.rs
  native/wireguard_nif/src/peer.rs
Due: rust-format, rust-lint

try adding to line above
  native/wireguard_nif/src/device.rs
  native/wireguard_nif/src/peer.rs
Due: rust-format, rust-lint

Try again
  native/wireguard_nif/src/device.rs
  native/wireguard_nif/src/peer.rs
Due: rust-format, rust-lint

Disable for module because macro disabling fails
  native/wireguard_nif/src/device.rs
  native/wireguard_nif/src/peer.rs
Due: rust-format, rust-lint

Remove whitespace after allows
  native/wireguard_nif/src/device.rs
  native/wireguard_nif/src/peer.rs
Due: rust-format, rust-lint

remove trailing whitespace d'oh
  native/wireguard_nif/src/device.rs
  native/wireguard_nif/src/peer.rs
Due: rust-format, rust-lint

don't use cross maybe
  .github/workflows/ci.yml
Due: none

Try installing cross for different targets
  .github/workflows/ci.yml
Due: none

use cross for musl
  .github/workflows/ci.yml
Due: none

use musl image maybe
  .github/workflows/ci.yml
  native/wireguard_nif/Cross.toml
Due: none

passthrough on target musl
  native/wireguard_nif/Cross.toml
Due: none

Specify env vars
  native/wireguard_nif/Cross.toml
Due: none

set build flags for musl targets in .cargo/config
  native/wireguard_nif/.cargo/config
  native/wireguard_nif/Cross.toml
Due: none

try building with cargo directly just for fun
  .github/workflows/ci.yml
Due: none

Build with cross and set env var
  .github/workflows/ci.yml
  native/wireguard_nif/.cargo/config
Due: none

Add crt static for x86_64
  .github/workflows/ci.yml
  native/wireguard_nif/.cargo/config
Due: none

pass env vars through
  .github/workflows/ci.yml
  native/wireguard_nif/Cross.toml
Due: none

test env vars
  .github/workflows/ci.yml
  native/wireguard_nif/.cargo/config
Due: none

build.env
  native/wireguard_nif/Cross.toml
Due: none

Fix table syntax
  .github/workflows/ci.yml
  native/wireguard_nif/Cross.toml
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
  rust-format: any of: \.rs$
  rust-lint: any of: \.rs$
