Repository firezone/wireguardex: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile, rust-format, rust-lint

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

rust-format:
  name: 'rust: cargo fmt'
  entry: bash -c "cd native/wireguard_nif && cargo fmt --all --"
  language: system
  pass_filenames: false

rust-lint:
  name: 'rust: cargo clippy'
  entry: bash -c "cd native/wireguard_nif && cargo clippy --all-targets --all-features -- -D warnings"
  language: system
  pass_filenames: false

bump rustler in cargo.toml
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: none

Remove NIF 2.14 and add 2.17
  .github/workflows/ci.yml
Due: none

Revert "Bump elixir/otp versions and `rustler_precompiled`"
  .github/workflows/ci.yml
  mix.exs
  mix.lock
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

Revert "Revert "Bump elixir/otp versions and `rustler_precompiled`""
  .github/workflows/ci.yml
  mix.exs
  mix.lock
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

chore: bump runner os
  .github/workflows/ci.yml
Due: none

bump macos
  .github/workflows/ci.yml
Due: none

add dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  native/wireguard_nif/Cargo.lock
Due: none

chore: bump deps
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .tool-versions
  mix.lock
Due: none

cargo
  native/wireguard_nif/Cargo.lock
Due: none

fix build
  .github/workflows/ci.yml
  .tool-versions
  native/wireguard_nif/.cargo/config.toml
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
  native/wireguard_nif/src/device.rs
  native/wireguard_nif/src/key.rs
  native/wireguard_nif/src/lib.rs
Due: rust-format, rust-lint

deprecations
  .github/workflows/ci.yml
Due: none

codespell
  .pre-commit-config.yaml
Due: none

chore: bump to v0.5.0
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

chore: commit 0.5.0 checksums
  .gitignore
  checksum-Elixir.Wireguardex.exs
Due: mix-format, mix-lint

ci: release version type
  .github/workflows/ci.yml
Due: none

chore: add root elixir files to formatter
  .formatter.exs
  checksum-Elixir.Wireguardex.exs
Due: mix-format, mix-lint

docs: Update wireguardex dependency version in README
  README.md
Due: none

fix: only draft release on push
  .github/workflows/ci.yml
Due: none

fix: add workflow perms
  .github/workflows/ci.yml
Due: none

chore: dependabot cooldowns
  .github/dependabot.yml
Due: none

docs: remove outdated mention
  README.md
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
  rust-format: any of: \.rs$
  rust-lint: any of: \.rs$
