Repository firezone/wireguardex: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile, rust-format, rust-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      # Rust config
      - id: rust-format
        name: 'rust: cargo fmt'
        entry: bash -c "cd native/wireguard_nif && cargo fmt --all --"
        language: system
        pass_filenames: false
        files: \.rs$
      - id: rust-lint
        name: 'rust: cargo clippy'
        entry: bash -c "cd native/wireguard_nif && cargo clippy --all-targets --all-features -- -D warnings"
        language: system
        pass_filenames: false
        files: \.rs$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, main]

surround with quotes
  .github/workflows/ci.yml
Due: none

export env var
  .github/workflows/ci.yml
Due: none

why failing
  .github/workflows/ci.yml
  native/wireguard_nif/Cross.toml
Due: none

worth a shot
  .github/workflows/ci.yml
  native/wireguard_nif/Cross.toml
Due: none

Try in target
  native/wireguard_nif/Cross.toml
Due: none

remove trailing -C
  .github/workflows/ci.yml
Due: none

Fix table again
  native/wireguard_nif/Cross.toml
Due: none

move to top-level
  .github/workflows/ci.yml
  native/wireguard_nif/Cross.toml
Due: none

try bumping cross version
  .github/workflows/ci.yml
Due: none

Update new cross URL fml
  .github/workflows/ci.yml
Due: none

Try more recent ubuntu
  .github/workflows/ci.yml
Due: none

Try rustler_precompiled method
  .github/workflows/ci.yml
  native/wireguard_nif/.cargo/config
  native/wireguard_nif/Cross.toml
Due: none

Attempt at a little refactoring
  .github/workflows/ci.yml
Due: none

bump ubuntu build host
  .github/workflows/ci.yml
Due: none

Finalize build matrix
  .github/workflows/ci.yml
Due: none

Bump to 0.3.3
  README.md
  mix.exs
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

Bump cargo lock
  native/wireguard_nif/Cargo.lock
Due: none

Add musl targets
  lib/wireguardex.ex
Due: mix-format, mix-lint, mix-compile

Use ubuntu-18.04 for older glibc
  .github/workflows/ci.yml
Due: none

Fix excludes list
  .github/workflows/ci.yml
Due: none

use centos-7 image for aarch64 builds
  native/wireguard_nif/Cross.toml
Due: none

base 20.04
  .github/workflows/ci.yml
Due: none

Use zig for cross compiling on aarch64
  native/wireguard_nif/Cross.toml
Due: none

use aarch64 gcc
  native/wireguard_nif/Cross.toml
Due: none

Use zig for more flexibility
  native/wireguard_nif/Cross.toml
Due: none

Bump to 0.3.4
  README.md
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

More glibc woes
  native/wireguard_nif/Cross.toml
Due: none

Use cross from main branch
  .github/workflows/ci.yml
  native/wireguard_nif/Cross.toml
Due: none

Limit zig builds to gnu
  native/wireguard_nif/Cross.toml
Due: none

Bump to v0.3.5
  README.md
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

Bump version, change maintainers
  mix.exs
  mix.lock
Due: mix-format, mix-lint

Bump version
  README.md
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

Fix CI for newer Elixir versions
  .github/workflows/ci.yml
Due: none

Exclude elixir 1.14 - otp 22 from CI
  .github/workflows/ci.yml
Due: none

Fix typos and add codespell pre-commit hook
  .pre-commit-config.yaml
  README.md
  lib/wireguardex/peer_config_builder.ex
Due: mix-format, mix-lint, mix-compile

Remove organizations: key to publish to hex.pm
  mix.exs
Due: mix-format, mix-lint

Update rustler_precompiled dependency to v0.7.0
  mix.exs
  mix.lock
Due: mix-format, mix-lint

Bump version to 0.3.7
  mix.exs
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint

Bump elixir/otp versions
  .github/workflows/ci.yml
Due: none

Bump to 0.4.0
  mix.exs
  mix.lock
  native/wireguard_nif/Cargo.lock
  native/wireguard_nif/Cargo.toml
Due: mix-format, mix-lint
